@use 'styles' as *;

.footer {
  width: 100%;
  height: 6.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socialMedia {
  margin-bottom: 1.5625rem;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    width: 2rem;
    height: 2rem;
    border: 0.0625rem solid hsla(223, 87%, 63%, 15%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 0.8125rem;
    }

    svg {
      fill: $blue;
    }

    &:hover {
      transition: background-color 0.35s;
      background-color: $blue;
      svg {
        transition: fill 0.35s;
        fill: $white;
      }
    }
  }
}

.copyright {
  font-size: clamp(0.625rem, 0.2vw, 0.75rem);
  font-weight: $font-weight-light;
}

.attribution {
  font-size: clamp(0.625rem, 0.2vw, 0.75rem);
  a {
    color: hsl(228, 45%, 44%);
  }
}
